@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*{
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
  }
  body{
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  nav{
      position: fixed;
      top: 0%;
      margin-bottom: 10px;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      font-family: "Josefin Sans";
      background-color: white;
      z-index: 5;
      text-align: center;
  }
  .navbar .pages {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      margin-right: 10%;
  }
  .navbar .pages li {
      float: left;
      
  }
  .navbar .pages li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  .navbar .pages li a:hover {
      background-color: #ddd;
      color: black;
  }
  
  .navbar .logo_img{
      float: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 2%;
  }
  
  #imglogo{
      width: 120px;
      height: 60px;
  
  }
  .container #front{
      width: 100vw;
      height: 70vh;
  }
  nav li:after{
      content: '';
      margin: auto;
      display: block;
      height: 2px;
      width: 0%;
      background-color: transparent;
      /* transition: width 0.5s ease,background-color 0.5s ease; */
      transition: all 0.5s ease;
    }
   nav li:hover:after{
      width: 100%;
      background-color: gold;
    }
  li #form{
      background-color: rgb(6,147,227,1);
      color: white;
      border-radius: 12px;
  }
  li #form:hover{
      background-color: rgb(6,147,227,0.8);
      color: white;
      border-radius: 12px;
  }
     .navbar .menu-icon {
      display: none; /* Hidden by default */
      color: black;
      padding: 14px 16px;
      cursor: pointer;
  }
.container {
    position: relative;
}
.container .iff2{
    width: 100%;
    height: 140vh;
    object-fit: cover;
    margin-top: 10px;
}
.onvid {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 80%;
    color: white;
    text-align: center;
}
.onvid p{
    font-family: "Lora";
    font-weight: bold;
}
.onvid button{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Lora";
    font-weight: bold;
}
.mow{
    display: flex;
    flex-direction: column;
}
.bigservices{
    display: flex;
    flex-direction: column;
}
.service{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 1% 1%;
    font-family: "Lora";
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#w1{
    border:none;
    box-shadow: none;
}
.imgg{
    width: 100%;
    align-items: center;
    padding:10px;
}
.imgg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:10px;
    
}
.services{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgtext{
    padding: 10px;
}
.imgtext a{
    font-family: "Lora";
    text-decoration: none;
    color: red;
}
 footer{
    width: 100%;
    height: fit-content;
    background-color: #f9f9f9;
    font-family: "Lora";
    
}
footer .left{
    width: 50%;
    padding:5% ;
    font-family: "Lora";
}

footer .right{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.mow{
    display: flex;
    flex-direction: row;
}
.dropdown-main {
    display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-main:hover .dropdown-menu {
    display: block;
    z-index: 1000;
}
.dropdown-main:hover .dropdown-menu{
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .navbar {
        max-width: 600px; 
        width: 100%;
    }
    .navbar .menu-icon {
        display: none; /* Hidden by default */
    }
    
    .navbar .pages {
        display: none; /* Hidden by default */
        position: absolute;
        top: 100%; /* Position the dropdown below the navbar */
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .navbar .pages li {
        width: 100%; /* Each li takes up the whole space */
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: none; /* Hidden by default */
        text-align: left;
    }
    
    .navbar .pages.show {
        display: block; /* Visible when the 'show' class is applied */
        
    }
    
        .navbar .menu-icon {
            display: block; /* Visible on screens less than 600px wide */
        }
    
        .navbar .pages.show li {
            display: block; /* Visible when the 'show' class is applied */
        }
        .container{
            width: 100%;
            height: 100%;
            position: absolute;
            top: -10%;
        }
        .container .iff2 {
            width: 100%;
            height: 50vh;
            object-fit: cover;
            margin-top: 10px;
        }
        .onvid{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            width: 80%;
            color: white;
            text-align: center;
        }
        .onvid p{
            font-size: 10px;
        }
        .services{
            display: flex;
            flex-direction: column;
        }
        .service{
            width: 100%;
        }
        footer{
            width: 100%;
            height: fit-content;
            background-color: #f9f9f9;
            font-family: "Lora";
            
        }
        footer .left{
            width: 100%;
            display: flex;
            align-items: center;
            font-family: "Lora";
            justify-content: center;
        }
        
        footer .right{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .mow{
            display: flex;
            flex-direction: column;
        }
    }
